/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: 'Veranda', 'sans-serif', 'Roboto'; }

/* *::selection{
  background: var(--darkest);
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  flex: 1 0 auto;
  overflow: hidden; }

ol, ul {
  list-style: none; }

li {
  display: inline-block;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
a {
  color: var(--text);
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img, svg {
  max-width: 100%;
  vertical-align: bottom; }

sub, sup {
  vertical-align: super;
  font-size: 0.5em !important;
  margin-top: -0.5em;
  display: inline-block; }

b, strong {
  font-weight: bold; }

textarea {
  resize: none; }

.hidden {
  visibility: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.policy-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F9F9F9;
  padding: 12px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  border-top: 1px solid #ccc;
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
  transition: all .5s;
  z-index: 999999; }

.policy-popup.showed {
  transform: translate3d(0, 0, 0);
  visibility: visible; }

.policy-popup__container {
  position: relative;
  padding-right: 40px; }

.policy-popup__close {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.policy-popup__close::before,
.policy-popup__close::after {
  content: '';
  position: absolute;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  height: 100%;
  top: 0;
  background-color: #000;
  transform: rotate(45deg); }

.policy-popup__close::after {
  transform: rotate(-45deg); }

body {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/img/bg.png"); }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px; }

.svg-icon {
  width: 100%;
  height: 100%;
  fill: currentColor; }

.svg-logo {
  display: block;
  width: 36px;
  height: 36px; }

.homepage {
  margin-top: 30px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left; }

.col-md-1 {
  width: 8.33333%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-12 {
  width: 100%; }

.svg-icon--cog, .svg-icon--photo, .svg-icon--video, .svg-icon--text {
  max-width: 21px;
  width: 21px;
  vertical-align: middle; }

.svg-icon--cog {
  height: 21px; }

.svg-icon--photo {
  height: 18px; }

.svg-icon--video {
  width: 18px;
  height: 18px; }

.svg-icon--text {
  width: 18px;
  height: 18px; }

.main-auth {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  background-image: url("/assets/img/login-bg.jpg");
  padding: 60px 15px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center; }

.auth-tabs {
  position: fixed;
  left: 50%;
  top: calc(50% - 60px);
  height: 372px;
  transform: translate(-50%, -50%); }

.auth-tab {
  text-align: center;
  margin-top: 30px;
  color: #c4c4c4; }

.auth-tab__title {
  font-size: 20px; }

.auth-tab__subtitle {
  margin-top: 15px;
  font-size: 15px; }

.auth-tab__form {
  margin-top: 10px; }

.auth-tab__form-submit {
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  background: none;
  border-radius: 4px;
  width: 192px;
  height: 36px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.23s, color 0.23s;
  margin-top: 30px; }

.auth-tab__form-submit:hover {
  color: #333;
  background-color: #c4c4c4; }

.auth-copy {
  color: #c4c4c4;
  font-size: 14px;
  text-align: center; }

.auth-copy__links {
  display: flex; }

.auth-copy__link:first-child {
  margin-left: 0; }

.auth-copy__link {
  margin-left: 15px; }

.auth-copy__text {
  margin-top: 20px; }

.auth-btn {
  display: flex;
  justify-content: center; }

.auth-btn__item {
  border: none;
  background: none;
  border-bottom: 4px solid #707070;
  width: 160px;
  padding: 15px 0;
  font-size: 18px;
  outline: none;
  color: #707070;
  cursor: pointer;
  transition: border-color 0.23s, color 0.23s; }

.auth-btn__item:hover,
.auth-btn__item.active {
  color: #c4c4c4;
  border-color: #c4c4c4; }

.auth-tab__input {
  position: relative;
  width: 310px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px; }

.auth-tab__input.error input::placeholder,
.auth-tab__input.error {
  color: #D95252; }

.auth-tab__input.error input {
  border-color: #D95252; }

.auth-tab__input input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #707070;
  font-size: 16px;
  color: #c4c4c4;
  line-height: 35px;
  padding-left: 33px;
  transition: border-color 0.23s; }

.auth-tab__input input:focus {
  border-color: #c4c4c4; }

.auth-tab__input input::placeholder {
  color: #707070; }

.auth-tab__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 5px;
  top: calc(50% - 9px); }

.auth-tab__icon--user {
  height: 19px; }

.auth-form-msg-error {
  color: #D95252;
  text-align: center;
  margin-top: 20px; }

@media screen and (max-width: 767px) {
  .auth-copy {
    font-size: 12px; }
  .auth-copy__text {
    margin-top: 15px; }
  .main-auth {
    padding: 30px 15px; }
  .auth-tabs {
    width: 100%;
    top: calc(50% - 30px);
    padding: 0 15px; } }

.header {
  background-color: #F5F5F5; }

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 68px;
  padding: 0 15px; }

.nav__item {
  text-transform: uppercase;
  margin-left: 15px;
  color: #B4B4B4;
  font-weight: 700;
  transition: color 0.16s;
  font-size: 14px; }

.nav__item.nav__item--active,
.nav__item:hover {
  color: #333; }

.posts,
.posts-info {
  float: left; }

.posts {
  width: calc(100% - 260px);
  margin-right: 30px; }

.add-post {
  background-color: #fff; }

.add-post__text {
  min-height: 90px;
  width: 100%;
  padding: 10px 15px 0 15px;
  font-size: 13px;
  color: #333; }

.add-post__text::placeholder {
  color: #cccccc; }

.add-post__bar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  background-color: #fafbfc; }

.add-post__save {
  margin-left: auto;
  height: 30px;
  line-height: 30px;
  background-color: #ffd633;
  border: none;
  color: #333;
  font-size: 13px;
  width: 118px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.23s; }

.add-post__save:hover {
  background-color: #f0c92e; }

.add-post__save:active {
  background-color: #e7c22c; }

.add-post__buttons {
  display: flex;
  align-items: center; }

.add-post__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
  padding: 0;
  color: #B4B4B4;
  transition: color 0.18s;
  outline: none; }

.add-post__button:hover {
  color: #333; }
